/*@media screen and (min-width:960px){       */
body,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
body {
    font-family: verdana;
    font-size: 14px;
}
h2 {
    font-family: "oswald";
    font-weight: 400;
}
p {
    line-height: 22px;
}
.full {
    width: 100%;
}
.fixed {
    width: 960px;
    margin: auto;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
nav {
    height: 70px;
    background-color: #333;
}
#logo {
    float: left;
    width: 100px;
    height: 70px;
    background-color: #ccc;
}
#nav {
    float: right;
}
#nav ul {
    margin: 0;
    padding: 0;
}
#nav li {
    list-style-type: none;
    float: left;
}
#nav a {
    color: #eee;
    display: block;
    text-decoration: none;
    font-family: verdana;
    font-size: 14px;
    line-height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all .2s;
}
#nav a:hover {
    background-color: #d31f1f;
}
header {
    /*            height: 560px;*/
    /*            background-image: url(images/header.jpg);*/
    /*            background-size: cover;*/
    /*            background-position: center;*/
    /*            background-repeat: no-repeat;*/
}
.slider {
    margin: 0;
    padding: 0;
}
.slider img {
    width: 100%;
}
#news {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #ddd;
}
.news-box {
    width: 320px;
    float: left;
}
.news-box-icon {


    float: left;
    color:#fff;
    text-align: center;
    line-height: 94px;
}
.news-box-content {
    float: left;
    width: 230px;
    margin-left: 10px;
}
.news-box-content h2 {
    margin-bottom: 25px;
}
#service {
    padding-top:75px;
    padding-bottom: 75px;
}
.service-content {
    width: 640px;
    float: left;
}
.service-img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url(images/header.jpg);
    background-size: cover;
    float: left;
    margin-left: 40px;

}
.slogan {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /*            line-height: 38px;*/
    font-size: 1.4em;
    padding-top: 8px;
    padding-bottom: 10px;
    color: #e74d3c;
    margin-top: 30px;
    margin-bottom: 30px; 
}
.service-content-box {
    float: left;
    width: 320px;
}
.service-content-box p {
    margin-bottom: 30px;
}
.btn {
    padding:8px 20px;
    /*            width: 120px;*/
    color: #fff;
    border-radius: 80px;
    font-family: "Oswald";
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.red {
    background-color: #e74d3c;
}
.black {
    background-color: #222;
}
#subs {
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    color:#fff;
}
#subs h2 {
    margin-bottom: 20px;
}
.subs-left {
    float: left;
    width:450px;
    padding-left: 15px;
    padding-right: 15px;

}
.subs-left-icon {
    float: left;
}
.subs-left-content {
    float:left;
    width: 360px;
    padding-left: 15px;
}
.subs-right {
    float: left;
    width:450px;
    padding-left: 15px;
    padding-right: 15px;
}
.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
input {
    border: 0;
}
textarea {
    border: 0;
    resize:none;
}
.subs-right input[type=text]{
    padding-top: 11px;
    padding-bottom: 8px;
    border-radius: 30px;
    width: 280px;
    padding-left: 15px;
    font-style: italic;
}
#contact {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}
#contact h2 {
    margin-bottom: 30px;
}
.contact-left {
    float:left;
    width: 300px;
    padding: 0 10px;
}
.contact-left-box {
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact-left-box-icon {
    float: left;
}
.contact-left-box-content {
    float: left;
    width: 215px;
    margin-left: 10px;
}
hr {
    border-bottom: 1px solid #ccc;
    border-top: 0;
}
.more {
    color: #e74d3c;
    text-decoration: none;
}
.contact-center {
    float:left;
    width: 300px;
    padding: 0 10px;
}
.contact-center-box {
    background-color: #e7e7e7;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px
}
.contact-center-box input[type=text] {
    width: 215px;
    height: 40px;
    border-radius: 50px;
    padding-left: 15px;
}
.contact-center-box textarea {
    border-radius: 12px;
    padding-left: 15px;
    width: 215px;
    height: 120px;

}
.contact-center-box input,.contact-center-box textarea,.contact-center-box p {
    margin-bottom: 10px;
}
.contact-right {
    float:left;
    width: 300px;
    padding: 0 10px;
}
.contact-right-box {
    padding-top: 15px;
    padding-bottom: 15px;

}
.contact-right-box-icon {
    width: 60px;
    float: left;
    text-align:center;
}
.contact-right-box-content {
    width: 225px;
    float: left;
    margin-left: 15px;
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1f2727;
    color: #fff;
}
footer a {
    color: #fff;
    text-decoration: none;
}
.copyright {
    float: left;
    width: 70%;
}
.sns {
    float: right;
    width: 30%;
    text-align: right;
}
.sns a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border:1px solid #fff;
    text-align: center;
    line-height:60px;
    border-radius: 50%;
}
/*}*/