<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="desktop.css"media="screen and (min-width:960px)">
    <link rel="stylesheet" href="mobile.css"media="screen and (max-width:959px)">
    <link href="jquery.bxslider.css" rel="stylesheet">
    <style>
/*        @import url(desktop.css);*/
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="jquery.bxslider.js"></script>
    <script>
        $(function(){
            $(".slider").bxSlider({
                auto:true,
                pager:false
            });
        })
    </script>
</head>
<body>
    <nav class="full">
        <div class="fixed">
            <div id="logo"></div>
            <div id="nav">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">SERVICES</a></li>
                    <li><a href="">PORTFOLIO</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="full">
        <ul class="slider">
            <li><img src="images/header.jpg"></li>
            <li><img src="images/header2.jpg"></li>
            <li><img src="images/header3.jpg"></li>
        </ul>
    </header>
    <div class="full clearfix" id="news">
        <div class="fixed">
            <div class="news-box">
                <div class="news-box-icon circle red">
                    <span class="fa fa-rocket fa-3x"></span>
                </div>
                <div class="news-box-content">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quisquam laborum. ab asperiores amet deserunt.</p>
                </div>
            </div>
            <div class="news-box">
                <div class="news-box-icon circle red">
                    <span class="fa fa-shield fa-3x"></span>
                </div>
                <div class="news-box-content">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quisquam laborum. ab asperiores amet deserunt.</p>
                </div>
            </div>
            <div class="news-box">
                <div class="news-box-icon circle red">
                    <span class="fa fa-fire-extinguisher fa-3x"></span>
                </div>
                <div class="news-box-content">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatum o.modi minima pariatur perspiciatis.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed clearfix" id="service">
        <div class="service-content">
            <h2>DONEC NEC JUSTO EGET FELIS FACILISIS FERMENTUM.ALIQUAM PORTTITOR<br> SIT AMET ORCI.AENEAN DIGNISSIM PELLENTESQUE FELIS</h2>
            <div class="slogan">Civamus vestibulum nulla nec ante</div>
            <div class="service-content-box">
                <h3>QWERTY ASDF</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dolorum, nesciunt. Distinctio, expedita, quisquam. Quis neque harum optio voluptates. Ex, voluptates excepturi eaque mollitia dolor modi recusandae, sunt repellendus. Dolore.</p>
                <a href="" class="btn red">MORE</a>
            </div>
            <div class="service-content-box">
                <h3>QWERTY ASDF</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dolorum, nesciunt. Distinctio, expedita, quisquam. Quis neque harum optio voluptates. Ex, voluptates excepturi eaque mollitia dolor modi recusandae, sunt repellendus. Dolore.</p>
                <a href="" class="btn red">MORE</a>
            </div>
        </div>
        <div class="service-img"></div>
    </div>
    <div class="fixed red clearfix" id="subs">
        <div class="subs-left">
            <div class="subs-left-icon circle black"></div>
            <div class="subs-left-content">
                <h2>DONEC NEC JUSTO EGET</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi vitae fugiat blanditiis.
                </p>
            </div>
        </div>
        <div class="subs-right">
            <h2>SUBSCRIBE</h2>
            <form action="">
                <input type="text" placeholder="enter your email address!!">
                <input type="submit" value="SUBSCRIBE" class="btn black">
            </form>
        </div>
    </div>
    <div class="fixed clearfix" id="contact">
        <div class="contact-left">
            <h2>WE NEED YOU</h2>
            <hr>
            <div class="contact-left-box clearfix">
                <div class="contact-left-box-icon circle black"></div>
                <div class="contact-left-box-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
                        <a href="" class="more">more</a>
                    </p>
                </div>
            </div>
            <hr>     
            <div class="contact-left-box clearfix">
                <div class="contact-left-box-icon circle black"></div>
                <div class="contact-left-box-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
                        <a href="" class="more">more</a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="contact-left-box clearfix">
                <div class="contact-left-box-icon circle black"></div>
                <div class="contact-left-box-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
                        <a href="" class="more">more</a>
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <div class="contact-center">
            <h2>CONTACT</h2>
            <div class="contact-center-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <form action="">
                    <input type="text" placeholder="name">
                    <input type="text" placeholder="email">
                    <textarea  placeholder="your query"></textarea>
                    <input type="submit" value="SEND" class="btn red">
                </form>
            </div>
        </div>
        <div class="contact-right">
            <h2>INFO</h2>
            <hr>
            <div class="contact-right-box clearfix">
                <div class="contact-right-box-icon">
                    <span class="fa fa-home fa-2x"></span>
                </div>
                <div class="contact-right-box-content">
                    <h3>Address</h3>
                    <p>asdf asdf asdfasdf <br>asdfasdasdfa</p>
                </div>
            </div>
            <hr>
            <div class="contact-right-box clearfix">
                <div class="contact-right-box-icon">
                    <span class="fa fa-phone-square fa-2x"></span>
                </div>
                <div class="contact-right-box-content">
                    <h3>Phone</h3>
                    <p>0912345678</p>
                    <p>0912345678</p>
                </div>
            </div>
            <hr>
            <div class="contact-right-box clearfix">
                <div class="contact-right-box-icon">
                    <span class="fa fa-envelope fa-2x"></span>
                </div>
                <div class="contact-right-box-content">
                    <h3>Email</h3>
                    <p>asdf@gmail.com</p>
                    <p>qwerty@gmail.com</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <footer class="full clearfix">
        <div class="fixed">
            <div class="copyright">
                <div clas="nav">
                    <a href="">asdf</a>
                    <a href="">asdf</a>
                    <a href="">asdf</a>
                    <a href="">asdf</a>
                    <a href="">asdf</a>
                </div>
                <div>LCC Design 2016&copy; Copyright</div>
            </div>
            <div class="sns">
                <a href=""><span class="fa fa-facebook fa-2x"></span></a>
                <a href=""><span class="fa fa-twitter fa-2x"></span></a>
            </div>
        </div>
    </footer>
</body>
</html>